h1{
    font-family: "Roboto", sans-serif; 
    color: darkorange;
    margin: 10px 50px 10px 50px
}
body{
    font-family: "Montserrat", sans-serif;
    background-image: url("https://upload.wikimedia.org/wikipedia/commons/thumb/4/4c/Surfing_competition_-_Flickr_-_heydrienne.jpg/1920px-Surfing_competition_-_Flickr_-_heydrienne.jpg");
    background-size: cover;
    background-position: center;
    color: darkorange;
    padding: 20px
}
h2{
    margin-top: 40px
}

.profile {
    display: flex;
    flex-direction: column; /* stack image over name */
    align-items: center;
    max-width: 120px; /* control profile box width */
}
.profile-name{
    font-weight: bold;
    font-size: 1.1em;
}
p{
    max-width: 700px;
    list-style: 1.5;
}
.profiles-row {
    display: flex;
    gap: 10px; /* space between profiles */
    flex-wrap: wrap; /* wrap to next line on smaller screens */
    justify-content: center; /* center the row horizontally */
}